[project]
	description = Repository for RCMIS-ATMS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/donnie-anciro
[access "refs/for/refs/*"]
	read = group user/donnie-anciro
	push = group user/donnie-anciro
	label-Code-Review = -2..+2 group user/donnie-anciro
	label-Verified = -1..+1 group user/donnie-anciro
	rebase = group user/donnie-anciro
	removeReviewer = group user/donnie-anciro
	submit = group user/donnie-anciro
[access "refs/heads/*"]
	read = group user/donnie-anciro
	create = group user/donnie-anciro
	push = +force group user/donnie-anciro
	pushMerge = group user/donnie-anciro
[access "refs/tags/*"]
	push = group user/donnie-anciro
	push = +force group user/donnie-anciro
